header {
  background-color: #000000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -10px;
  padding: 15px;
  padding-left: 25px;
  z-index: 10;
}

img {
  width: 40px;
  /* height: 40px; */
  align-items: center;
}

header nav {
  display: flex;
  /* align-content; */
}

header nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 20px;
}

header nav a:hover {
  background-color: #636161;
  background-position: center;
  color: yellow;
  transition: 0.6s ease-out;
}

.form_wrapper {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ad0707;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(109, 7, 7, 0.1);
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin: -5px;
  padding-left: 10px;
}

.form_container {
  display: flex;
  flex-direction: column;
}

.title_container h2 {
  text-align: center;
  color: #070707;
}

.form_container form .input_field {
  position: relative;
  margin-bottom: 15px;
}

.form_container form .input_field span {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #570303;
}

.form_container form input[type=email],
.form_container form input[type=password],
.form_container form input[type=text],
.form_container form select {
  width: 100%;
  padding: 10px 15px 10px 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input_field.radio_option,
.input_field.checkbox_option {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input_field.radio_option input[type=radio],
.input_field.checkbox_option input[type=checkbox] {
  margin-right: 5px;
}

.form_container form .button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #181616;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.form_container form .button:hover {
  background-color: #cc0000;
}

@media (max-width: 480px) {
  .form_wrapper {
    width: 90%;
    padding: 10px;
  }
}